{{ ansible_managed | comment }}

[nginx-{{ nginx_repository_branch }}]
name=NGINX {{ nginx_repository_branch | capitalize }} Repository
baseurl={{ nginx_repository }}
gpgcheck=1
enabled=1
gpgkey={{ nginx_repository_gpgkey_url }}
module_hotfixes=true
priority=9
