{{ ansible_managed | comment }}

[nginx-{{ nginx_repository_branch }}]
name=NGINX {{ nginx_repository_branch | capitalize }} Repository
baseurl={{ _nginx_yum_repository }}
gpgcheck=1
enabled=1
gpgkey={{ nginx_repository_gpgkey }}
module_hotfixes=true